/* Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
  background-color: hsl(0, 0%, 95%);
}

main {width: 100%;}

.choices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 375px;
}

.sedans {
  flex: 33.33%;
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  flex: 33.33%;
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  flex: 33.33%;
  background-color: hsl(179, 100%, 13%);
}

h1 {
  background-color: transparent;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  padding-left: 10px;
}

p {
  background-color: transparent;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  justify-items: left;
  padding-left: 10px;
}

button {
  border-radius: 20px;
}
